html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
}

#app {
    font-family: $family--default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $color--text;
    width: 100%;
    display: flex;
}

button {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
}

input {
    outline: none;
}

.wrap {
    @include container
}

.__bar-is-vertical {
    background-color: rgba($color--primary, 0.5) !important;
}
.fadeLoading-enter-active, .fadeLoading-leave-active {
    transition: opacity 0s;
}
.fadeLoading-enter, .fadeLoading-leave-to {
    opacity: 0;
    transition: opacity 0.5s;
}
