html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
}

#app {
    display: flex;
    width: 100%;
    font-family: $family--default;
    color: $color--text;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

input {
    outline: none;
}

.wrap {
    @include container
}

.__bar-is-vertical {
    background-color: rgba($color--primary, 0.5) !important;
}

.fadeLoading-enter-active, .fadeLoading-leave-active {
    transition: opacity 0s;
}

.fadeLoading-enter, .fadeLoading-leave-to {
    opacity: 0;
    transition: opacity 0.5s;
}

.layout-fade-enter-active, .layout-fade-leave-active {
    transition: opacity 0.3s ease;
}

.layout-fade-enter, .layout-fade-leave-to {
    opacity: 0;
}
