$mobile: (
    'breakpoints': (
        'sm': 480px,
        'md': 768px,
        'lg': 1024px,
    ),
    'container': (
        'sm': 420px,
        'md': 720px,
        'lg': 960px
    ),
);

$gutter: 30px;

$family--default: 'TTNorms', sans-serif;
$family--primary: Calibri, sans-serif;

$weight--tiny: 300;
$weight--regular: 400;
$weight--medium: 500;
$weight--bold: 700;

$color--text: #474E54;
$color--text-light: #7D8790;
$color--text-dark: #35383D;
$color--dark: #1d1d1d;
$color--primary: #398BFF;
$color--accent: #9c27b0;
$color--positive: #21ba45;
$color--negative: #c10015;
$color--info: #31ccec;
$color--bg-nav: #F3F6F8;
$color--bg--message-one: #E9F5F4;
$color--bg--message-two: #F6F7F9;


